<div class="order">
<div class="order-header">
    <mat-icon>poll</mat-icon>
    <h1>Orders</h1>
</div>
<div class="order_filter">
    <input class="order_filter_item" type="text" placeholder="Search for Orders">
    <select class="order_filter_item">
      <option>Categories</option>
    </select>
    <input class="order_filter_item" type="text" placeholder="0">
    <input class="order_filter_item" type="text" placeholder="max">
    <select class="order_filter_item">
      <option>Status</option>
    </select>
    <button class="order_filter_item">Go</button>
    <mat-icon class="order_filter_item">refresh</mat-icon>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th><input type="checkbox" class="cursor" /></th>
        <th>Customer Name</th>
        <th>Status</th>
        <th>Delivery Date</th>
        <th>Date Added</th>
        <th>Total Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orderList; let i=index; odd as isOdd;" [class.odd]="isOdd">
        <td><input type="checkbox" class="cursor" /></td>
        <td>{{order.user.customer.customerName}}</td>
        <td>{{order.orderStatus.orderStatusName}}</td>
        <td>{{ order.deliveryDate | date }}</td>
        <td>{{order.dateCreated | date}}</td>
        <td>{{order.subTotal}}</td>
        <td>Action</td>
      </tr>
    </tbody>
  </table>
    
</div>