<div *ngIf="toggle" class="layout_sidebar_toggle_open">
  <span>Sapta</span>
  <span>Bazzar</span>
</div>
<div *ngIf="!toggle" class="layout_sidebar_toggle_close">
  <span>S</span>
  <span>B</span>
</div>
<div class="layout_sidebar_menu">
  <ul [ngClass]="toggle?'activeSidebar_item':'inActiveSidebar_item'">
    <li routerLinkActive="active-route">
      <a routerLink="/dashboard">
        <mat-icon>apps</mat-icon>
        <span>Dashboard</span>
      </a>
    </li>
    <li routerLinkActive="active-route">
      <a routerLink="/product">
        <mat-icon>filter</mat-icon>
        <span>Product</span>
      </a>
    </li>
    <li routerLinkActive="active-route">
      <a routerLink="/order">
        <mat-icon> bar_chart</mat-icon>
        <span>Order</span>
      </a>
    </li>
  </ul>
</div>