<div class="layout" [ngClass]="toggle?'activeLayout':'inActiveLayout'">
  <header class="layout_header">
    <span class="toggle" (click)="handleToggle()">
      <mat-icon>menu</mat-icon>
    </span>
  </header>
  <nav class="layout_sidebar" >
    <div *ngIf="toggle" class="layout_sidebar_toggle_open">
      <span>Sapta</span>
      <span>Bazzar</span>
    </div>
    <div *ngIf="!toggle" class="layout_sidebar_toggle_close">
      <span>S</span>
      <span>B</span>
    </div>
    <div class="layout_sidebar_menu" >
      <ul [ngClass]="toggle?'activeSidebar_item':'inActiveSidebar_item'">
        <li>
          <mat-icon>apps</mat-icon>
          <span>Dashboard</span>
        </li>
        <li>
          <mat-icon>filter</mat-icon>
          <span>Product</span>
        </li>
        <li>
          <mat-icon> bar_chart</mat-icon>
          <span>Order</span>
        </li>
      </ul>
    </div>
  </nav>
  <main class="layout_main">
      MAIN
  </main>
</div>